// Specific CSS for your home-page

//tutoriel//
.h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 12.5px;
}

.tutoriel {
    align-items:center;
    padding-top: 30px;
    background-color: white;
    text-align: center;
    height: 55vh;
}


.title-action {
    font-size: 16px
}

ul {
    padding: 40px 60px 40px 60px;
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.wd-100{
    width: 30%;
    font-size:12.5px;
}
