<%= simple_form_for([car, booking]) do |f| %>
  <%= f.input :start_date,
              as: :string,
              input_html: {
                value: booking.start_date || '',
                class: 'datepicker'
              }
  %>
  <%= f.input :end_date,
              as: :string,
              input_html: {
                value: booking.end_date || '',
                class: 'datepicker'
              }
  %>
  <div id="btn-book">
    <input type="submit" value="Book" class="btn btn-primary btn-block btn-lg"></input>
  </div>
<% end %>
