.custom-card {
  // position: relative
  // width: 180%;
  //   height: 15vw;
  //   -o-object-fit: cover;
  //   object-fit: cover;
  //   box-shadow: 1px 1px 3px grey;
  //   border-radius: 1px;
}
.card-link-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card:hover {
  opacity: 0.8;
}
